<!DOCTYPE html>
<html lang="en">
<head>
        <title>Ride Share</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="shortcut icon" type="image/ico" href="favicon.ico">
</head>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>  

</head>
<style>
   nav{
            background-color: '';
        }
.form-group-1 {
	width: 42%;
	margin-left: 25%;
}
@media screen and (max-width: 600px) {
.form-group-1 {
	width: 75%;
	margin-left: 13%;
}
}
@media screen and (min-width: 600px) {
.form-group-1 {
	width: 65%;
	margin-left: 15%;
}
}
@media screen and (min-width: 900px) {
    .form-group-1 {
	width: 42%;
	margin-left: 30%;
}
.navbar-right{
    position: absolute;
     top: 20%;
      left: 90%
}
}
</style>

<body ng-app="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
        <a href="#" class="navbar-brand">
                <img src="11favicon.png" width="35" height="35" class="d-inline-block align-top" alt="">Ride Share
            </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MyNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        

        <div class="collapse navbar-collapse" id="MyNav">
            <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link nav navbar-nav navbar-right" href="/reg">SignUp</a></li>

            </ul>
        </div>
    </nav>
    <hr><hr>
    <form action="/checkLogin" method="GET" name="myForm">
        <div class="form-group-1">
            <!-- <div class="form-group-1" style="border-left: 15px black solid; padding-left:15px;border-bottom-left-radius: 15px;border-top-left-radius: 15px "> -->
           <u> <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-style:initial; color: rgb(59, 145, 59)">Log In&nbsp&nbsp&nbsp&nbsp&nbsp</h2></u><br>
        <div class = "form-group">
        
    <input class = "form-control" type="number" name="mobile" ng-minlength="10" ng-maxlength="10" ng-model="mobile" placeholder="MOBILE NUMBER" required>
    <center><span ng-show="myForm.mobile.$touched && myForm.mobile.$invalid" style="color: red">*The Mobile Number Should Have 10 Digits.</span></center>

</div>

    
    <div class = "form-group">
        <input class = "form-control" type="password" name="password" ng-model="password" placeholder="PASSWORD" required>
    </div>
    <center><span ng-show="myForm.password.$touched && myForm.password.$invalid" style="color: red">*The Password is required.</span></center>
<br>
      <center>  <input class = "btn btn-success" ng-disabled="myForm.mobile.$dirty && myForm.mobile.$invalid ||  
        myForm.password.$dirty && myForm.password.$invalid" type="submit" value="LOGIN"></center>
        <center><div style="color: red"><%=message%></div></center>
<br>
      <p  style="font-style: italic">New here ? <a href="/reg" class="btn btn-link">Sign In</a>
      </p>
    </div>
</form>   


</body>
</html>