<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#4a46c7">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="manifest" href="/min_pro_clg/manifest.json">   
</head>
<style>
.form-group-1 {
	width: 42%;
	margin-left: 25%;
}
.contact
{
    padding:0 75px 40px 75px;
}
@media screen and (max-width: 600px) {
.form-group-1 {
	width: 75%;
	margin-left: 13%;
}
.contact
{
    padding:0 35px 20px 35px;
}
}
@media screen and (min-width: 600px) {
.form-group-1 {
	width: 65%;
	margin-left: 15%;
}
}
@media screen and (min-width: 900px) {
    .form-group-1 {
	width: 42%;
	margin-left: 30%;
}
.navbar-right{
    position: absolute;
     top: 20%;
      left: 90%
}
}
</style>
<body>
    <!--Navigation bar-->
<div id="nav-placeholder"></div>
<br>
  <center><h2>Contact Us</h2></center> 
    <br><br>
<p>
<div class="contact">
        <center><i class="fa fa-map-marker" style="font-size:33px; color: green; padding-bottom: 4px;"></i></center>
        <center>12/1 Address<br>indore , M.P.<br>452003</center>
</div>
<br>
<div class="contact">
        <center><i class="fa fa-address-book" style="font-size:30px; color: blue; padding-bottom: 4px;"></i></center>
        <center>+91 7000******</center>
</div>
<br>
<div class="contact">
        <center><i class="fa fa-envelope" style="font-size:30px; color: red; padding-bottom: 4px;"></i></center>
        <center>Wheel4pool@gmail.com</center>
</div>
<br><br>
</p>

    <hr><br>
    <center><h2>FeedBack</h2></center> 
    <br>
    <form action="" method="GET" name="myForm">
        <div class="form-group-1">
                <div class = "form-group">
                        <input class = "form-control" type="text" name="name" ng-model="name" placeholder="NAME" required>
                    </div>
        
    <div class = "form-group">
        <input class = "form-control" type="email" name="email" ng-model="email" placeholder="EMAIL" required>
    </div>
    
    <div class = "form-group">
        
            <textarea class = "form-control" type="text" name="text" ng-model="text" placeholder="FEEDBACK" required></textarea>
        
        </div>
<br>
      <center>  <input class = "btn btn-info" style="box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);" type="submit" value="Send Us"></center><br>
    </div>
</form>
</body>
<script>
        $(function(){
          $("#nav-placeholder").load("navbar.html");
        });
        </script>
</html>