<!DOCTYPE html>
<html lang="en">
<head>
        <title>Ride Share</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#4a46c7">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="/min_pro_clg/manifest.json">
<link rel="shortcut icon" type="image/ico" href="favicon.ico">
<!-- <script src="map.js"></script> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQ2l2mGOB24ZWMaxOt3fasayoNXM8NdAo&libraries=places"></script>

<!-- <script src="https://roads.googleapis.com/v1/snapToRoads?path=60.170880,24.942795|60.170879,24.942796&key=AIzaSyCQ2l2mGOB24ZWMaxOt3fasayoNXM8NdAo"></script> -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>  

<title>My Map page</title>
    <style>
        nav{
            background-color: '';
        }
    /* #map{
        height: 500px;
        width: 500px;
        margin-right: 50px;
    } */
    .form-control {
	width: 42%;
	margin-left: 25%;
}
#b {
margin-left:40%;
}
@media screen and (max-width: 600px) {
    #b {
margin-left:30%;
}
.form-control {
	width: 75%;
	margin-left: 13%;
}
}
@media screen and (min-width: 600px) {
    #b {
margin-left:35%;
}
.form-control {
	width: 65%;
	margin-left: 15%;
}
}
@media screen and (min-width: 900px) {
    .navbar-right{
            position: absolute;
             top: 20%;
              left: 90%
        }
    .form-control {
	width: 42%;
	margin-left: 25%;
}
#b {
margin-left:40%;
}
}
    </style>

</head>

<script>
     var input1;
     var input2;
     var IsplaceChange=false;
     var IsplaceChange2=false;

    var options = {
            componentRestrictions: {country: "IN"}
        };

        function initialize() {
        input1 = document.getElementById('sor');

        input2 = document.getElementById('des');
//         new google.maps.places.Autocomplete(input1,options);

// new google.maps.places.Autocomplete(input2,options);

    //     sor.addEventListener('keydown',function(){
    //         console.log(event.which || event.keyCode)
    //     if(event.keyCode===13){
    //      //  document.getElementById('sor').value=new google.maps.places.Autocomplete(input1,options);
    //        console.log(google.maps.places.Autocomplete(input1))
    //     }
    // else{
    //     console.log("NO")
    // }
    //})

    var autocomplete = new google.maps.places.Autocomplete(input1,options);
    var autocomplete2 = new google.maps.places.Autocomplete(input2,options);

    google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            if(place.address_components){
            console.log(place.address_components)
            IsplaceChange = true;
            document.getElementById('sormess').innerHTML="";
            }
            else{
               // alert('select from the list');
               document.getElementById('sormess').innerHTML="select from the list";

                document.getElementById('sor').value=null;
            }
        })
       
    google.maps.event.addListener(autocomplete2, 'place_changed', function () {
            var place2 = autocomplete2.getPlace();
            if(place2.address_components){
            console.log("2nd "+place2.address_components)
            IsplaceChange2 = true;
            document.getElementById('desmess').innerHTML="";

            }
            else{
               // alert('select from the list');
               document.getElementById('desmess').innerHTML="select from the list";

                document.getElementById('des').value=null;
            }
        })
        }
        google.maps.event.addDomListener(window, 'load', initialize);

        function functionss(){
            if(IsplaceChange===false && IsplaceChange2===false){
            document.getElementById('sor').value=null;
            document.getElementById('des').value=null;
            document.getElementById('sormess').innerHTML="select from the list";
            document.getElementById('desmess').innerHTML="select from the list";
//            document.getElementById('msg').innerHTML="SELECT A PROPER ADDRESS !"
            }
    }
        </script>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
        <a href="#" class="navbar-brand">
                <img src="3.png" width="25" height="35" class="d-inline-block align-top" alt="">Mark Location
            </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MyNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        

        <div class="collapse navbar-collapse" id="MyNav">
            <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/user">New Ride</a></li>
                    <li class="nav-item"><a class="nav-link" href="/history">My Rides</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">contact</a></li>
                    <li class="nav-item"><a class="nav-link nav navbar-nav navbar-right" href="/logout">Log Out</a></li>                  
            </ul>
        </div>
    </nav>
    <hr><hr>
</body>
    <!-- <div id="map" style="float:right"></div> -->

    <body ng-app="">
    <form action="/getMapInput" method="POST" name="myForm">
        <div class = "form-group">
            <input id="sor" class = "form-control"  type = "text" placeholder = "Source" name ="sor" ng-model="sor" required>
            <center><span id="sormess" style="color: red;"></span></center>
        </div>
        <div class = "form-group">
                <input id="des" class = "form-control" type = "text" placeholder = "Destinition" name ="des" ng-model="des" required>
                <center><span id="desmess" style="color: red;"></span></center>
            </div>
    
        <div class = "form-group">
            <input class = "btn btn-success" id="b" type = "submit" onclick=functionss() value = "Save My Location">
        </div><br>
        <center><span id="msg" style="color: red;"></span></center>
    </form>
</body>
</html>